{%- raw %}{#{% endraw %}
{{ '  SPDX-FileCopyrightText: %s %s.'|format(cookiecutter.year, cookiecutter.copyright_holder)|wordwrap(width=77, wrapstring='\n  ')}}
{{ '  SPDX-License-Identifier: MIT' }}
{% raw %}#}{% endraw -%}
